{% extends 'dashboard/base.html' %}

{% block crumb %}
Attendees
{% endblock %}

{% block body%}

<div class="card mb-3">
        <div class="card-header">
        <i class="fas fa-table"></i>
        <button class="btn rounded btn-primary show-form" data-url="{% url 'dashboard:attendee-create'  %}">
            <span class="fas fa-plus"></span>
            New Attendee
        </button>
        <a class="btn rounded btn-success float-right mr-4" style="color:white" href="{% url 'dashboard:attendees-export' %}">
            <span class="fas fa-file-excel"></span>
            Export

        </a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="check" class="custom-control-input" id="all-checks" data-children-id="check-">
                                    <label class="custom-control-label" for="all-checks"></label>
                            </div>
                        </th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Ticket</th>
                        <th>**</th>
                        <!-- <th>Created</th> -->
                        <!-- <th>Updated</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% include "dashboard/attendee_list_content.html" %}

                  </tbody>
                </table>
            </div>

        </div>
      </div>




<div class="modal fade" id="modal-attendee">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

{% endblock %}
{% block javascript%}   
<script>
   $('#dataTable').DataTable( {
                {#pagingType: "full_numbers",#}
                // pageLength: {{ pageLength }},
                paging:   true,
                fixedHeader: true,
                select: true,
                fixedColumns:   {
                    leftColumns: 2
                },
                "columnDefs": [
                    { "orderable": false, "targets": [0, 6] }
                ],
                {#dom: 'Bfrtip',#}
                buttons: [
                    {
                        text: 'Export <b class="fal fa-caret-down"></b>',
                        "className": 'btn btn-primary',
                        action: function ( e, dt, node, config ) {
                            alert( 'Button activated' );
                        }
                    }
                ]
            });
            $('#dataTable tr th:first-child').removeClass("sorting_asc").removeClass("sorting");
            $('#dataTable tr th:last-child').removeClass("sorting_asc").removeClass("sorting");
            // $('#dataTable-table_length').append(`<label>${html}</label>`);

</script>   
{% endblock%}